{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pongame</title>
  <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}"> 
  <script src="{% static 'main/js/script.js'%}" defer></script>
</head>
<body>
	<div class="firstbar">
		<a href="pongame.html">
			<button class="btn button-link">PONGAME</button>
		</a>
	</div>
	<div class="container-flex">
		<div class="terrain">
			<div class="balle"></div>
			<div class="ligne-centrale"></div>
			<div class="cercle-central"></div>
			<div class="point-central"></div>
			<div class="trait-gauche"></div> 
    		<div class="trait-droit"></div> 
		</div>	
	</div>
	<div class="flex-form-container">
		<div class="login-form">
			<h2>Connexion</h2>
			<form action="/submit_login" method="POST">
				<div class="form-group">
					<label for="username">Nom d'utilisateur :</label>
					<input type="text" id="username" name="username" required>
				</div>
	
				<div class="form-group">
					<label for="password">Mot de passe :</label>
					<input type="password" id="password" name="password" required>
				</div>
	
				<div class="forgot-password">
					<a href="#">Mot de passe oublié ?</a>
				</div>
				<button type="submit" class="btn validate-btn">Valider</button>
			</form>
		</div>
	</div>
</body>
</html>