{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}"> 
  <script src="{% static 'main/js/script.js'%}" defer></script>
</head>
<body>
	<div class="firstbar">
		<a href="{% url 'home' %}">
			<button class="btn button-link">PONGAME</button>
		</a>
	</div>
	<div class="container-flex">
		<div class="terrain">
			<div class="balle"></div>
			<div class="ligne-centrale"></div>
			<div class="cercle-central"></div>
			<div class="point-central"></div>
			<div class="trait-gauche"></div> 
    		<div class="trait-droit"></div> 
		</div>	
	</div>
	<div class="container">
		<a href="{% url 'accounts:log_guest' %}">
			<button id="guest" class="btn interactive-button">Login as guest</button>
		</a>
		<button id="api" class="btn interactive-button">Login with 42</button>
	</div>
</body>
</html>