<div class="container_disable_2fa" style="position: relative; z-index: 10;">
    <h3>Disable 2FA</h3>
    <p>To disable 2FA, enter your current 2FA code from the authenticator app.</p>
    <form id="disable-2fa-form" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="code" class="form-label">Authentication Code</label>
            {{ disable_form.as_p }}
        </div>
        <button type="submit" class="btn btn-danger">Disable 2FA</button>
    </form>
    <!-- Section pour les messages de succès et d'erreur -->
    <div class="verification-success text-success mt-3" style="display: none;"></div>
    <div class="verification-error text-danger mt-3" style="display: none;"></div>
</div>
