<!-- templates/User/login.html -->
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}"> 
  <script src="{% static 'main/js/script.js' %}" defer></script>
</head>
<body>
  <div class="firstbar">
    <a href="{% url 'landing' %}">
      <button class="btn button-link">PONGAME</button>
    </a>
  </div>
  <div class="container-flex">
    <div class="terrain">
      <div class="balle"></div>
      <div class="ligne-centrale"></div>
      <div class="cercle-central"></div>
      <div class="point-central"></div>
      <div class="trait-gauche"></div> 
      <div class="trait-droit"></div> 
    </div>  
  </div>
  <div class="container">
    {% if not request.session.user_id %}
      <a href="{% url 'User:login' %}">
        <button id="login" class="btn interactive-button">Login</button>
      </a>
      <a href="{% url 'User:register' %}">
        <button id="register" class="btn interactive-button">Register</button>
      </a>
      <a href="{% url 'landing' %}">
        <button id="guest" class="btn interactive-button">Login as guest</button>
      </a>
      <button id="api" class="btn interactive-button">Login with 42</button>
    {% else %}
      <a href="{% url 'User:profile' username=request.user.username %}">
        <button id="profile" class="btn interactive-button">Profile</button>
      </a>
      <a href="{% url 'User:logout' %}">
        <button id="logout" class="btn interactive-button">Logout</button>
      </a>
    {% endif %}
  </div>
</body>
</html>
