{% load i18n %}
<div class="container-fluid d-flex justify-content-center mt-3" style="height: 100%; padding-top: 20px; z-index: 10;">
	<div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-4 col-xxl-4">
		
		<div class=" dfa-item d-flex flex-column align-items-center justify-content-between text-white p-4">
			<div class="login_2fa_div d-flex flex-column form-group mb-0">
			<h3>{% trans "Entrez Code 2FA" %}</h3>

				<p>{% trans "Pour vous connecter, veuillez saisir le code 2FA depuis votre application d'authentification" %}.</p>
				<form id="login-2fa-form" method="POST" >
					{% csrf_token %}
					<div class="d-flex flex-column form-group">
							<label for="id_code">{% trans "Code 2FA :" %}</label>
							{{ login_2fa_form.code }}
					</div>
					<button type="submit" class="btn btn-primary btn-70">{% trans "Valider" %}</button>
				</form>
			</div>

		</div>
	</div>
</div>
<style>
	.dfa-item {
		background-color:  #101A32;
		border: 2px solid rgb(153, 148, 148);
		border-radius: 20px;
		font-style: "Jersey 10";
		color: white;
		font-size: 1.2em;
		min-width: 320px;
	}
</style>