<div class="container-fluid text-center d-flex flex-column align-items-center col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 col-xxl-4" style="height: 100%; padding-top: 50px; z-index: 2;">


	<div class="register-form">
		<div class=" dfa-item d-flex flex-column align-items-center justify-content-between text-white p-4 w-100">

					<div class="login_2fa_div" style="position: relative; z-index: 10;">
						<h3 class="mb-3">Enter 2FA Code</h3>
						<div class="d-flex justify-content-center align-items-center mb-3">
							To complete your login, please enter the 2FA code from your authenticator app.
						</div>
						<form id="login-2fa-form mb-2" method="POST" >
							{% csrf_token %}
							<div class="mb-4">
								<label for="code" class="form-label">Authentication Code</label>
								{{ login_2fa_form.as_p}}
							</div>
							<button type="submit" class="btn btn-primary mb-3">Submit</button>
						</form>
					</div>
		</div>
	</div>
</div>

<style>

	.dfa-item {
		background-color:  #101A32;
		border: 2px solid rgb(153, 148, 148);
		border-radius: 20px;
	}
</style>