<!-- templates/User/change_password.html -->
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Changer le Mot de Passe de {{ profile_user.username }}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <h1>Changer le Mot de Passe de {{ profile_user.username }}</h1>
    
    <!-- Afficher les messages de feedback -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Changer le Mot de Passe</button>
    </form>
    
    <a href="{% url 'User:profile' username=profile_user.username %}">Retour au Profil</a>
</body>
</html>
