<!-- templates/User/profile.html -->
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Profil de {{ profile_user.username }}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <h1>Profil de {{ profile_user.username }}</h1>
    
    <!-- Afficher l'avatar s'il existe, sinon l'image par défaut -->
    <div class="avatar">
        {% if profile_user.avatar and profile_user.avatar.url %}
            <img src="{{ profile_user.avatar.url }}" alt="Avatar de {{ profile_user.username }}">
        {% else %}
            <img src="{% static 'avatars/default_avatar.png' %}" alt="Avatar par défaut">
        {% endif %}
    </div>
    
    <!-- Options de mise à jour -->
    <div class="update-options">
        <a href="{% url 'User:update_avatar' %}" class="btn">Mettre à Jour l'Avatar</a>
        <a href="{% url 'User:update_profile' %}" class="btn">Modifier le Profil</a>
        <a href="{% url 'User:change_password' %}" class="btn btn-secondary">Changer le Mot de Passe</a>
        
        <!-- Formulaire de déconnexion -->
        <form method="POST" action="{% url 'User:logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Se Déconnecter</button>
        </form>
    </div>

    <!-- Option pour activer/désactiver le 2fa -->
	<div class="enable-2fa">
        {% if is_2fa_enabled %}
            <a href="{% url 'User:disable_2fa' %}" class="btn">Désactiver 2FA</a>
        {% else %}
            <a href="{% url 'User:enable_2fa' %}" class="btn">Activer 2FA</a>
        {% endif %}
    </div>
    
    <!-- Autres informations du profil -->
    <p>Email: {{ profile_user.email }}</p>
    <!-- Ajoutez d'autres champs selon vos besoins -->
</body>
</html>
