<div class="game-menu col-12 col-sm-10 col-md-10 col-lg-6 col-xl-6 col-xxl-5">
    <div class="container-fluid py-4 " style="height: var(--sin-nav-height); font-size: 1.2em;">
        <h1 class="text-center mb-4" style="font-size: 2em;">Jeu en Ligne</h1>

        <!-- Section des modes de jeu (affichée après le choix du type de partie) -->
        <div id="game-modes" class="card mb-3 bg-secondary">
            <div class="card-body">
                <h5 class="card-title">Modes de Jeu</h5>
                <div class="d-flex flex-column gap-2">
                    <button id="start-game-btn" class="btn btn-primary w-100">Lancer Partie Standard</button>
                    <button class="btn btn-primary w-100" onclick="showCustomization()">Personnaliser Partie</button>
                </div>
            </div>
        </div>

		<!-- Nouvelle div pour Voir Tuto -->
		<!-- <div id="tutorial-menu" class="card mb-3 bg-secondary d-none">
			<div class="card-body">
				<h5 class="card-title">Tutoriel</h5>
				<button class="btn btn-primary w-100" onclick="toggleTutorial()">Voir Tuto</button>
				<div id="tutorial-content" class="collapse mt-3">
					<p>💥 **Power-Ups Légendaires !** 💥</p>
					<ul class="list-unstyled">
						<li class="d-flex align-items-center mb-2">
							<input class="form-check-input me-3" type="checkbox" id="bonusObstacle">
							<img src="png_game/obstacle.png" alt="Obstacle" class="img-bonus me-2">
							<span>Attention aux obstacles !</span>
						</li>
						<li class="d-flex align-items-center mb-2">
							<input class="form-check-input me-3" type="checkbox" id="bonusSpeed">
							<img src="png_game/speed.png" alt="Acceleration" class="img-bonus me-2">
							<span>Accelere la vitesse de ta raquette</span>
						</li>
						<li class="d-flex align-items-center mb-2">
							<input class="form-check-input me-3" type="checkbox" id="bonusShrink">
							<img src="png_game/minus.png" alt="Minus" class="img-bonus me-2">
							<span>Reduis la taille de la raquette de ton adversaire</span>
						</li>
						<li class="d-flex align-items-center mb-2">
							<input class="form-check-input me-3" type="checkbox" id="bonusFrost">
							<img src="png_game/icy.png" alt="ice-age" class="img-bonus me-2">
							<span>Fais deraper ton adversaire</span>
						</li>
						<li class="d-flex align-items-center mb-2">
							<input class="form-check-input me-3" type="checkbox" id="bonusFlash">
							<img src="png_game/flash.png" alt="flash" class="img-bonus me-2">
							<span>Morsure du Soleil</span>
						</li>
						<li class="d-flex align-items-center mb-2">
							<input class="form-check-input me-3" type="checkbox" id="bonusMind">
							<img src="png_game/change.png" alt="reverse-control" class="img-bonus me-2">
							<span>Inverse les commandes de l'adversaire</span>
						</li>
						<li class="d-flex align-items-center mb-2">
							<input class="form-check-input me-3" type="checkbox" id="bonusCanon">
							<img src="png_game/canon.png" alt="canon" class="img-bonus me-2">
							<span>Propulse la balle a toute vitesse</span>
						</li>
					</ul>
				</div>
			</div>
		</div> -->

        <!-- Menu de personnalisation du gameplay (affiché uniquement pour Jeu Personnalisé) -->
        <div id="customization-menu" class="card mb-3 bg-secondary d-none">
            <div class="card-body">
                <h5 class="card-title">Personnalisation du Gameplay</h5>
                
                <!-- Vitesse de la balle -->
                <div class="mb-3">
                    <label for="ballSpeed" class="form-label">Vitesse de la Balle (x<span id="ballSpeedValue">1</span>)</label>
                    <input type="range" class="form-range" id="ballSpeed" min="1" max="2" value="1" step="0.01" oninput="updateBallSpeed()">
                </div>

                <!-- Taille de la raquette -->
                <div class="mb-3">
                    <label for="paddleSizeSelect" class="form-label">Taille de la Raquette</label>
                    <select id="paddleSizeSelect" class="form-select" onchange="updatePaddleSize()">
                        <option value="small">Petite</option>
                        <option value="medium" selected>Moyenne</option>
                        <option value="large">Grande</option>
                    </select>
                </div>

                <button class="btn btn-secondary w-100" onclick="toggleTutorial()">Selection des Bonus </button>
				<div id="tutorial-content" class="collapse mt-3">
					<p>💥 **Power-Ups Légendaires !** 💥</p>
					<ul class="list-unstyled">
						<li class="d-flex align-items-center mb-2">
							<input class="form-check-input ms-2 me-3" type="checkbox" id="bonusObstacle">
							<img src="../../static/main/js/png_game/obstacle.png" alt="Obstacle" class="img-bonus me-2">
							<span>Attention aux obstacles !</span>
						</li>
						<li class="d-flex align-items-center mb-2">
							<input class="form-check-input ms-2 me-3" type="checkbox" id="bonusSpeed">
							<img src="../../static/main/js/png_game/speed.png" alt="Acceleration" class="img-bonus me-2">
							<span>Accelere la vitesse de ta raquette</span>
						</li>
						<li class="d-flex align-items-center mb-2">
							<input class="form-check-input ms-2 me-3" type="checkbox" id="bonusShrink">
							<img src="../../static/main/js/png_game/minus.png" alt="Minus" class="img-bonus me-2">
							<span>Reduis la taille de la raquette de ton adversaire</span>
						</li>
						<li class="d-flex align-items-center mb-2">
							<input class="form-check-input ms-2 me-3" type="checkbox" id="bonusFrost">
							<img src="../../static/main/js/png_game/icy.png" alt="ice-age" class="img-bonus me-2">
							<span>Fais deraper ton adversaire</span>
						</li>
						<li class="d-flex align-items-center mb-2">
							<input class="form-check-input ms-2 me-3" type="checkbox" id="bonusFlash">
							<img src="../../static/main/js/png_game/flash.png" alt="flash" class="img-bonus me-2">
							<span>Morsure du Soleil</span>
						</li>
						<li class="d-flex align-items-center mb-2">
							<input class="form-check-input ms-2 me-3" type="checkbox" id="bonusMind">
							<img src="../../static/main/js/png_game/change.png" alt="reverse-control" class="img-bonus me-2">
							<span>Inverse les commandes de l'adversaire</span>
						</li>
						<li class="d-flex align-items-center mb-2">
							<input class="form-check-input ms-2 me-3" type="checkbox" id="bonusCanon">
							<img src="../../static/main/js/png_game/canon.png" alt="canon" class="img-bonus me-2">
							<span>Propulse la balle a toute vitesse</span>
						</li>
					</ul>
				</div>

                <button id="start-game-btn" class="btn btn-primary w-100 mt-3">Lancer Partie Personnalisée</button>
            </div>
        </div>
		<div class="test mt-0 " style="font-size: 1px;"><p> .</p></div>  <!-- Pour qu'il y ait une marge en bas -->
    </div>
</div>


<style>
	.html, body {
		overflow : auto;
	}
    .game-menu * {
        color: rgb(223, 216, 216) !important;
    }
	.mask{
		display: none;
	}
	.card {
		background-color: #101A32 !important;
		border: 2px solid rgb(153, 148, 148);
		min-width: 200px;
	}

	#tutorial-content {
		transition: all 0.4s ease-in-out;
		overflow: hidden;
	}

	.img-bonus {
		width : 30px; 
		height : 30px;
		border-radius: 50px;
		border: 1.5px solid white;
	}

	.card-title {
		font-size: 1.3em;
	}

	.btn-secondary {
		font-family: "Jersey 10";
		border: none;
		font-size: 1.2em;
		border-radius: 20px;
		min-width: 100px;
	}

	#ground-game, .terrain{
        display: none;
    }
</style>

<script>

	// Fonction pour dérouler ou cacher le contenu du tutoriel
	function toggleTutorial() {
		const tutorialContent = document.getElementById('tutorial-content');
		if (tutorialContent.classList.contains('collapse')) {
			tutorialContent.classList.remove('collapse');
		} else {
			tutorialContent.classList.add('collapse');
		}
	}

    // Met à jour l'affichage de la valeur de la vitesse de la balle
    function updateBallSpeed() {
        document.getElementById('ballSpeedValue').innerText = document.getElementById('ballSpeed').value;
    }

    // Met à jour la taille de la raquette selon l'option choisie
    function updatePaddleSize() {
        const paddleSize = document.getElementById('paddleSizeSelect').value;
        console.log("Taille de la raquette choisie :", paddleSize);
    }

    // Affiche les options de personnalisation
    function showCustomization() {
        document.getElementById('customization-menu').classList.remove('d-none');
    }


</script>
