<!-- templates/core/navbar_logged_in.html -->
<nav id="navbar" class="navbar navbar-expand">
    <div class="container-fluid">
        <a id="home-btn" class="navbar-brand text-white" href="#">PONGAME</a>
        
        <!-- Bouton burger visible uniquement pour les utilisateurs connectés -->
        <button id="burger-menu-toggle" class="navbar-toggler" type="button">
            ☰
        </button>
        

        <div class="d-flex ms-auto" id="navbar-right"></div>
    </div>
</nav>

<!-- Inclure le contenu du burger-menu -->
{{ burger_menu|safe }}
<div id="overlay" style="display: none;" onclick="toggleBurgerMenu()"></div>

<style>
    #burger-menu-toggle {
        display: block;
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.3);
        border: 2px solid red;
    }
</style>
