<!-- templates/core/navbar_public.html -->
<nav id="navbar" class="navbar navbar-expand">
    <div class="container-fluid">
        <a id="home-btn" class="navbar-brand text-white" href="#">PONGAME</a>

        <div class="d-flex ms-auto" id="navbar-right">
            <!-- Boutons supplémentaires pour les utilisateurs non connectés, si besoin -->
            <a href="#accounts-login" class="btn btn-primary me-2">Se connecter</a>
            <a href="#accounts-register" class="btn btn-secondary">S'inscrire</a>
        </div>
    </div>
</nav>

<style>
    #navbar-right a {
        color: white;
        text-decoration: none;
        margin-left: 10px;
    }
</style>


